LiBookTGCross.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Função para modificar os metadados do arquivo binário\nfunction modifyBinaryMetadata(items) {\n  for (const item of items) {\n    if (item.binary && item.binary.data) {\n      // Modifica o tipo MIME\n      item.binary.data.mimeType = 'application/pdf';\n      \n      // Garante que o nome do arquivo termine com .pdf\n      if (!item.binary.data.fileName.toLowerCase().endsWith('.pdf')) {\n        item.binary.data.fileName += '.pdf';\n      }\n      \n      // Atualiza o contentType no fileType (se existir)\n      if (item.binary.data.fileType) {\n        item.binary.data.fileType.contentType = 'application/pdf';\n      }\n    }\n  }\n  return items;\n}\n\n// Aplica a modificação e retorna os itens atualizados\nreturn modifyBinaryMetadata($input.all());"
      },
      "id": "c32c0f46-c34d-4a5b-8044-da03be05204c",
      "name": "Change to application/pdf",
      "type": "n8n-nodes-base.code",
      "position": [
        8820,
        -320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "6c9a9fc9-59fc-4b1d-b4f5-e21ad8501fc1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        9180,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "11406105-5abc-497e-8ade-b8bfa72d509d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        9060,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "pageContent",
        "options": {}
      },
      "id": "8248dec7-cc33-4e60-8f0a-b16c10dbc543",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        9580,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f8a2566-b122-46c0-8dc1-3bec1764a6df",
              "name": "pageContent",
              "value": "={{ $json['pageContent'].replace(/[\\r\\n]/gm, '').trim()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfc9e2f0-e8cf-44af-a970-17391593320d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9800,
        -320
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "id": "b0dd5d77-4d93-4bc7-b0e9-a6a723423c6b",
      "name": "Telegram5",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8420,
        -320
      ],
      "credentials": {
        "telegramApi": {
          "id": "SFMmavAxEobq3fV5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Read PDF",
      "type": "n8n-nodes-base.readPDF",
      "position": [
        8620,
        -320
      ],
      "typeVersion": 1,
      "id": "a8230c82-2862-4b2e-b4eb-c99b3dc3ee8d"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "id": "fb42d4dc-e257-4c64-9520-123325e6d526",
      "name": "Embeddings HuggingFace Inference1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        8920,
        -140
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "u42KihYUrxnjttY9",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').first().json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0
        }
      },
      "id": "bbadddc3-9044-4c1e-9840-e107304eec5c",
      "name": "Telegram6",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        10860,
        -320
      ],
      "credentials": {
        "telegramApi": {
          "id": "SFMmavAxEobq3fV5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "pageContent"
            }
          ]
        },
        "options": {}
      },
      "id": "467701e8-fcdf-4c34-92b9-ec2e89d41204",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        10040,
        -320
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "91f70690-c8e6-48bf-8592-c5b9ee5896a2",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        8000,
        -320
      ],
      "webhookId": "0eb21455-4007-4555-94eb-55fd3c9edea8",
      "credentials": {
        "telegramApi": {
          "id": "SFMmavAxEobq3fV5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e82b5920-1c85-4d1c-bc6c-d32c52e41b2f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1921a1ab-dc38-49e9-bd33-a92e8c50edd3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8220,
        -320
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "notfinalhehe",
          "mode": "list",
          "cachedResultName": "notfinalhehe"
        },
        "options": {}
      },
      "id": "e98eff9f-390e-49d3-95b5-da2c44f7abf8",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        9020,
        -320
      ],
      "credentials": {
        "pineconeApi": {
          "id": "Y0hGECWQ7t18PlcD",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.appended_pageContent[0] }}",
        "messages": {
          "messageValues": [
            {
              "message": "Сократи представленный текст"
            }
          ]
        }
      },
      "id": "d5757d8e-983a-470a-ac43-4d2242a0a710",
      "name": "Basic LLM Chain2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        10240,
        -320
      ]
    },
    {
      "parameters": {
        "model": "gemma2-9b-it",
        "options": {}
      },
      "id": "d0f72d29-b71f-4618-b026-dda750d4f964",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        10080,
        -140
      ],
      "credentials": {
        "groqApi": {
          "id": "zoU42Dxo3dokK4zr",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Change to application/pdf": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram5": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF": {
      "main": [
        [
          {
            "node": "Change to application/pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "863498ef-b8f5-48ec-8e95-48ca10ae1a51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3715c51d3e1698e328c89dccaf11b2816ca1448241cb9bb5df31df07a4d7241"
  },
  "id": "HBcuWSRtLkcH1lIx",
  "tags": []
}